body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #6fffe9, #00e5ff);
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

img.logo {
    width: 50px;
}

img.post {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}

p {
    margin: 15px 0;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

.submit {
    background-color: #0095f6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit:disabled {
    background-color: #b2dffc;
}

.messages {
    margin-bottom: 20px;
}